# Practice(Modules)

In [111]:
numbers = [ 3, 8, 90, 676]
from examp import finding_max_no
print(finding_max_no(numbers))

676

In [112]:
from examp import Calculations
num1 = 5
num2 = 56
x = Calculations(num1, num2)

print(x.multiplication())
print(x.additon())

280
61

## Addition

In [113]:
import examp
examp.addition()

56

In [6]:
import random
for i in range(1):
    print(f'({random.randint(1,6)}, {random.randint(1,6)})')

(5, 6)

In [115]:
import sys
print(sys.version)

3.12.6 (tags/v3.12.6:a4a2d2b, Sep  6 2024, 20:11:23) [MSC v.1940 64 bit (AMD64)]

In [116]:
x = 'awesome'
def python():
    x = 'Beautifull'
    print(x)


print(x)
python()

awesome
Beautifull

In [117]:
x = 'akhil'
print(type(x))

<class 'str'>

In [118]:
for i in range(6):
    print(i)

0
1
2
3
4
5

In [119]:
set1 = {1, 3, 6, 1, 5, 6, 'akhil'}
print(set1)

{1, 3, 5, 6, 'akhil'}

In [120]:
my_set = {1, 3, 6, 1, 5, 6, 'akhil'}
my_set.remove(3)
print(my_set)

{1, 5, 6, 'akhil'}

In [121]:
my_set = {'sandhya', 1, 3, 6, 1, 5, 6, 'akhil'}
my_set.discard(9)
print(my_set)
my_set.pop()
print(my_set)

{1, 3, 5, 6, 'sandhya', 'akhil'}
{3, 5, 6, 'sandhya', 'akhil'}

## Frozenset

In [122]:
fs1 = frozenset([1, 2, 3])
fs2 = frozenset([3, 4, 5, 6])

print(fs1 | fs2)

print(fs1 & fs2)

print(fs1 - fs2)

print(fs1 ^ fs2)

frozenset({1, 2, 3, 4, 5, 6})
frozenset({3})
frozenset({1, 2})
frozenset({1, 2, 4, 5, 6})

In [123]:
x = complex(2)
print(x)

(2+0j)

In [124]:
import random
print(random.randrange(1,9))

4

In [125]:
import random
print(random.randint(1,9))

6

In [126]:
a = 'Hello, World'
for x in a:

    print(x)

H
e
l
l
o
,

W
o
r
l
d

In [127]:
a = 'Hello World, My name is Konduri Akhil'
print('Akhil' in a)
if 'Akhil' in a:
    print('Akhil is present')


print('Sai' not in a)

True
Akhil is present
True

## Slicing

In [128]:
a = 'Hello World, My name is Konduri Akhil'

print(a[2:5])
print(a[:5])
print(a[6:])
print(a[-5:-2])

llo
Hello
World, My name is Konduri Akhil
Akh

In [7]:
price = 59
txt = f"The price is {price} dollars"
print(txt)

The price is 59 dollars

In [9]:
txt = "We are the so-called \"Vikings\" from the north."
print(txt)

We are the so-called "Vikings" from the north.

In [14]:
txt = "We are the so-called Vikings from the north."
print(txt.center(60))

        We are the so-called Vikings from the north.

In [28]:
txt = "We are the so-called Vikings from the north."
print(txt.strip('from'))

We are the so-called Vikings from the north.

In [2]:
print(10 ==  6)

False

In [9]:
print(bool(4))
print(bool(True))

True
True

In [10]:
class myclass():
  def __len__(self):
    return 0

myobj = myclass()
print(bool(myobj))

False

In [12]:
def myFunction():
    return True


print(myFunction())
x = 200
print(isinstance(x, int))

True
True

## Operators

In [17]:
print(4 / 2)
print(5 / 2)
print( 4 // 2)
print( -5 // 2 )

2.0
2.5
2
-3

## 2.reverse a given number(I/p:--4325. O/p:--5234)

In [3]:
import calendar
year = int(input('Enter Year: '))
month = int(input('Enter month: '))
print(calendar.month(year, month))

   February 1975
Mo Tu We Th Fr Sa Su
                1  2
 3  4  5  6  7  8  9
10 11 12 13 14 15 16
17 18 19 20 21 22 23
24 25 26 27 28

# Factorial of an number

In [ ]:
number = int(input('Enter number: '))
# result = 1
# i = 1
def factorial(number):
    i = 1
    resulti = 1
    while i <= number:
        resulti = resulti * i
        i = i + 1 
    return resulti

print(factorial(number))